<h4 id="pageTitle"><i class="fas fa-building"></i> Cadastro de Empresa</h4>
<hr>
<div class="mt-5 tabbable-custom tab-style">
  <tabset>
    <tab class="tab-content">
      <ng-template tabHeading>
        <span class="tab-title cursor-click font-header-tab"><i class="fas fa-building"></i> Dados
          Gerais</span>
      </ng-template>
      <form [formGroup]="formGeneralData">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Nome da empresa*</label>
              <input type="text" placeholder="Nome da empresa" class="form-control" formControlName="name" required>
              <div *ngIf="fgd.name.errors && (fgd.name.dirty || fgd.name.touched)">
                <small class="d-flex justify-content-start text-danger" *ngIf="fgd.name.errors.required">Campo
                  obrigatório</small>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>CPF / CNPJ*</label>
              <input type="text" placeholder="CPF / CNPJ" (blur)="validateTaxId(fgd.taxId.value)" class="form-control"
                maxlength="18" formControlName="taxId" cpf-cnpj required>
              <div *ngIf="fgd.taxId.errors && (fgd.taxId.dirty || fgd.taxId.touched)">
                <small class="d-flex justify-content-start text-danger" *ngIf="fgd.taxId.errors.required">Campo
                  obrigatório</small>
                <small class="d-flex justify-content-start text-danger" *ngIf="fgd.taxId.errors.invalid">CPF / CNPJ
                  inválido</small>
              </div>
            </div>
          </div>
          <div class="col-md-3" *ngIf="fgd.taxId.value.length > 14">
            <div class="form-group">
              <label>Razão Social*</label>
              <input type="text" placeholder="Razão social" (blur)="validateSocialReason(fgd.socialReason.value)"
                class="form-control" formControlName="socialReason" required>
              <div *ngIf="fgd.socialReason.errors && (fgd.socialReason.dirty || fgd.socialReason.touched)">
                <small class="d-flex justify-content-start text-danger" *ngIf="fgd.socialReason.errors.required">Campo
                  obrigatório</small>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>E-mail Comercial*</label>
              <input type="text" placeholder="E-mail Comercial" class="form-control" formControlName="email" required>
              <div *ngIf="fgd.email.errors && (fgd.email.dirty || fgd.email.touched)">
                <small class="d-flex justify-content-start text-danger" *ngIf="fgd.email.errors.required">Campo
                  obrigatório</small>
                <small class="d-flex justify-content-start text-danger" *ngIf="fgd.email.errors.email">E-mail
                  inválido</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label>Site</label>
              <input type="text" placeholder="Site" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label>Facebook</label>
              <input type="text" placeholder="Facebook" class="form-control">
            </div>
          </div>
        </div>
      </form>
    </tab>
    <tab class="tab-content">
      <ng-template tabHeading>
        <span class="header-tab cursor-click font-header-tab"><i class="fas fa-map-marker-alt"></i> Endereço</span>
      </ng-template>
      <address-register></address-register>
    </tab>
    <tab class="tab-content">
      <ng-template tabHeading>
        <span class="header-tab cursor-click font-header-tab"><i class="fas fa-phone-square"></i> Contatos</span>
      </ng-template>
      <contact-register></contact-register>
    </tab>
    <tab class="tab-content">
      <ng-template tabHeading>
        <span class="header-tab cursor-click font-header-tab"><i class="fas fa-clock"></i> Horário de Funcionamento</span>
      </ng-template>
      <schedules-register></schedules-register>
    </tab>
  </tabset>
</div>