@import "variables";
@import "input-tag.scss";

input:focus {
  box-shadow: none;
  border: 1px solid $dark-gray;
  color: rgb(46, 46, 46);
}

select:focus {
  box-shadow: none;
  border: 1px solid $dark-gray;
  color: rgb(46, 46, 46);
}

input {
  color: rgb(46, 46, 46);
}

:host ::ng-deep .tab-style a.nav-link {
  border-bottom: none;
}

:host ::ng-deep .tab-style a.nav-link.active {
  border: 1px solid $medium-gray;
  border-bottom: none;
  border-top: 4px solid #28a745;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
}

:host ::ng-deep .nav-tabs {
  border-bottom: none;
}

.tab-content {
  border: 1px solid #ddd;
  border-radius: 5px;
  border-top-left-radius: 0px;
  padding: 1%;
}

:host ::ng-deep .modal-header {
  background-color: $header-modal;
}

:host ::ng-deep .btn-primary {
  color: #fff;
  background-color: #1f8afc;
  border-color: #1f8afc;
}

.ng-touched.ng-invalid:not(form)  {
  border: 1px solid $danger-color;
}
