@import "variables";
@import "input-tag.scss";

input:focus {
  box-shadow: none;
  border: 2px solid $primary-color;
  color: rgb(46, 46, 46);
}

select:focus {
  box-shadow: none;
  border: 2px solid $primary-color;
  color: rgb(46, 46, 46);
}

input {
  color: rgb(46, 46, 46);
  font-size: 11pt;
}

label {
  color: rgb(46, 46, 46);
  font-size: 10pt;
  font-weight: 600;
}

:host ::ng-deep .tab-style a.nav-link .font-header-tab {
  color: $primary-color;
  font-size: 0.9rem;
  font-weight: 600;
}

:host ::ng-deep .nav-tabs a.nav-link.active {
  .font-header-tab {
    color: $black-hr;
  }
}

:host ::ng-deep .nav-tabs .nav-link:hover {
  .font-header-tab {
    color: darken($primary-states-color, 5%);
  }
  border: none;
}

:host ::ng-deep .tab-style a.nav-link.active {
  border: 1px solid $medium-gray;
  border-bottom: none;
  border-top: 3px solid #28a745;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
}

:host ::ng-deep .nav-tabs {
  border-bottom: none;
}

.tab-content {
  border: 1px solid #ddd;
  border-radius: 5px;
  border-top-left-radius: 0px;
  padding: 1%;
}

:host ::ng-deep .modal-header {
  background-color: $header-modal;
}

:host ::ng-deep .btn-primary {
  color: #fff;
  background-color: #1f8afc;
  border-color: #1f8afc;
}

.ng-touched.ng-invalid:not(form) {
  border: 1px solid $danger-color;
}

table {
  width: 100%;
}

.shadow-card {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);        
  height: 480px;
}