<form [formGroup]="formAddress">
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>CEP*</label>
          <input type="text" tooltip="Para o preenchimento automático do formulário, informe o CEP" 
            placeholder="CEP" maxlength="9" formControlName="cep" (blur)="consultCep(fa.cep.value)"
            [ngModel]="address?.cep | cep" class="form-control" cep required>
          <div *ngIf="fa.cep.errors && (fa.cep.dirty || fa.cep.touched || invalidForm)">
            <small class="d-flex justify-content-start text-danger" *ngIf="fa.cep.errors.required">Campo
              obrigatório</small>
            <small class="d-flex justify-content-start text-danger" *ngIf="fa.cep.errors.incorrect">CEP
              inválido</small>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Número*</label>
          <input type="text" placeholder="Número" [ngModel]="address?.number" formControlName="number" class="form-control" autocomplete="off"
            required>
          <div *ngIf="fa.number.errors && (fa.number.dirty || fa.number.touched || invalidForm)">
            <small class="d-flex justify-content-start text-danger" *ngIf="fa.number.errors.required">Campo
              obrigatório</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Logradouro*</label>
          <input type="text" placeholder="Logradouro" [ngModel]="address?.street"  formControlName="street" class="form-control" autocomplete="off"
            required>
          <div *ngIf="fa.street.errors && (fa.street.dirty || fa.street.touched || invalidForm)">
            <small class="d-flex justify-content-start text-danger" *ngIf="fa.street.errors.required">Campo
              obrigatório</small>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Bairro*</label>
          <input type="text" placeholder="Bairro" [ngModel]="address?.neighborhood" formControlName="neighborhood"
            class="form-control" autocomplete="off" required>
          <div *ngIf="fa.neighborhood.errors && (fa.neighborhood.dirty || fa.neighborhood.touched || invalidForm)">
            <small class="d-flex justify-content-start text-danger" *ngIf="fa.neighborhood.errors.required">Campo
              obrigatório</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Cidade*</label>
          <input type="text" placeholder="Cidade" formControlName="city" 
            class="form-control" autocomplete="off" required>
          <div *ngIf="fa.city.errors && (fa.city.dirty || fa.city.touched || invalidForm)">
            <small class="d-flex justify-content-start text-danger" *ngIf="fa.city.errors.required">Campo
              obrigatório</small>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Estado*</label>
          <input type="text" placeholder="Estado" formControlName="state" class="form-control" 
            autocomplete="off" required>
            <div *ngIf="fa.state.errors && (fa.state.dirty || fa.state.touched || invalidForm)">
              <small class="d-flex justify-content-start text-danger" *ngIf="fa.state.errors.required">Campo
                obrigatório</small>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label>Complemento</label>
          <input type="text" placeholder="Complemento" [ngModel]="address?.complement" 
            formControlName="complement" class="form-control" autocomplete="off">
        </div>
      </div>
    </div>
    <input type="hidden" formControlName="id" [ngModel]="address?.id">
  </div>
</form>