<h4 id="pageTitle"><button class="btn btn-link back" (click)="goTo('app/fornecedores')" tooltip="Voltar"><i
      class="fas fa-arrow-left"></i></button> Novo Fornecedor</h4>
<hr>
<div class="card shadow-card">
  <div class="card-body">
    <div class="tabbable-custom tab-style">
      <tabset>
        <tab class="tab-content">
          <ng-template tabHeading>
            <span class="tab-title cursor-click font-header-tab"><i class="fas fa-building"></i> Dados
              Gerais</span>
          </ng-template>
          <caterer-form [invalidForm]="statusFormCaterer" [caterer]="caterer" (resComponent)="getValuesCatererRegisterForm($event)"></caterer-form>
        </tab>
        <tab class="tab-content">
          <ng-template tabHeading>
            <span class="header-tab cursor-click font-header-tab"><i class="fas fa-map-marker-alt"></i> Endereço</span>
          </ng-template>
          <address-register [invalidForm]="statusFormAddress" [address]="address" (resComponent)="getValuesAddressRegisterForm($event)">
          </address-register>
        </tab>
        <tab class="tab-content">
          <ng-template tabHeading>
            <span class="header-tab cursor-click font-header-tab"><i class="fas fa-phone-square"></i> Contatos</span>
          </ng-template>
          <contact-register [contacts]="contacts"></contact-register>
        </tab>
        <tab class="tab-content">
          <ng-template tabHeading>
            <span class="header-tab cursor-click font-header-tab"><i class="fas fa-image"></i> Logotipo</span>
          </ng-template>
          <div class="row">
            <div class="col-md-6">
              <dropzone [files]="files"></dropzone>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
    <div class="row" style="margin-top: auto;">
      <div class="d-flex justify-content-end col-md-12">
        <button type="button" class="btn btn-success cursor-click"
          (click)="save()">Salvar
          <i class="fas fa-check" style="font-size: 0.8rem;"></i>
        </button>
      </div>
    </div>
  </div>
</div>