<form [formGroup]="formGeneralData">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Nome da empresa*</label>
        <input type="text" placeholder="Nome da empresa" [ngModel]="caterer?.name" class="form-control" formControlName="name" required>
        <div *ngIf="fgd.name.errors && (fgd.name.dirty || fgd.name.touched || invalidForm)">
          <small class="d-flex justify-content-start text-danger" *ngIf="fgd.name.errors.required">Campo
            obrigatório</small>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>CNPJ*</label>
        <input type="text" placeholder="CNPJ" [ngModel]="caterer?.taxId | cnpj" 
          (blur)="validateTaxId(fgd.taxId.value)" class="form-control" maxlength="18" 
          formControlName="taxId" cnpj required>
        <div *ngIf="fgd.taxId.errors && (fgd.taxId.dirty || fgd.taxId.touched || invalidForm)">
          <small class="d-flex justify-content-start text-danger" *ngIf="fgd.taxId.errors.required">Campo
            obrigatório</small>
          <small class="d-flex justify-content-start text-danger" *ngIf="fgd.taxId.errors.invalid">CNPJ
            inválido</small>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Razão Social*</label>
        <input type="text" placeholder="Razão social" [ngModel]="caterer?.socialReason" class="form-control" formControlName="socialReason" required>
        <div *ngIf="fgd.socialReason.errors && (fgd.socialReason.dirty || fgd.socialReason.touched || invalidForm)">
          <small class="d-flex justify-content-start text-danger" *ngIf="fgd.socialReason.errors.required">Campo
            obrigatório</small>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Inscrição Estadual
        </label>
        <input type="text" placeholder="Inscrição Estadual" [ngModel]="caterer?.stateRegistration" formControlName="stateRegistration" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>E-mail Comercial*</label>
        <input type="text" placeholder="E-mail Comercial" [ngModel]="caterer?.email" class="form-control" formControlName="email" required>
        <div *ngIf="fgd.email.errors && (fgd.email.dirty || fgd.email.touched || invalidForm)">
          <small class="d-flex justify-content-start text-danger" *ngIf="fgd.email.errors.required">Campo
            obrigatório</small>
          <small class="d-flex justify-content-start text-danger" *ngIf="fgd.email.errors.email">E-mail
            inválido</small>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" formControlName="id" [ngModel]="caterer?.id">
</form>